@mixin decorNumber {
  position: absolute;
  top: 0;
  z-index: -1;
  line-height: 1.15;
  font-family: $font-accent;
  font-size: 400px;
  opacity: 0.02;
}

@mixin mediaTablet {
  @media (max-width: $tablet) {
    @content;
  }
}
